# Project exclude paths
/.cxx/
/.gradle/
/build/
/build/intermediates/exploded-aar/android.arch.core/runtime/1.1.0/jars/
/build/intermediates/exploded-aar/android.arch.lifecycle/livedata-core/1.1.0/jars/
/build/intermediates/exploded-aar/android.arch.lifecycle/runtime/1.1.0/jars/
/build/intermediates/exploded-aar/android.arch.lifecycle/viewmodel/1.1.0/jars/
/build/intermediates/exploded-aar/circleimageview-2.2.0/jars/
/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/27.1.1/jars/
/build/intermediates/exploded-aar/com.android.support/appcompat-v7/27.1.1/jars/
/build/intermediates/exploded-aar/com.android.support/multidex/1.0.3/jars/
/build/intermediates/exploded-aar/com.android.support/recyclerview-v7/27.1.1/jars/
/build/intermediates/exploded-aar/com.android.support/support-compat/27.1.1/jars/
/build/intermediates/exploded-aar/com.android.support/support-core-ui/27.1.1/jars/
/build/intermediates/exploded-aar/com.android.support/support-core-utils/27.1.1/jars/
/build/intermediates/exploded-aar/com.android.support/support-fragment/27.1.1/jars/
/build/intermediates/exploded-aar/com.android.support/support-media-compat/27.1.1/jars/
/build/intermediates/exploded-aar/com.android.support/support-v4/27.1.1/jars/
/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/27.1.1/jars/
/build/intermediates/exploded-aar/com.squareup.leakcanary/leakcanary-android-no-op/1.5.4/jars/
/build/intermediates/exploded-aar/hellodaemon-1.2.2/jars/
/build/intermediates/exploded-aar/io.reactivex.rxjava2/rxandroid/2.0.1/jars/
/build/intermediates/exploded-aar/LayoutManagerGroup/jars/
/build/intermediates/exploded-aar/mopub-sdk-banner-5.8.0/jars/
/build/intermediates/exploded-aar/mopub-sdk-base-5.8.0/jars/
/build/intermediates/exploded-aar/mopub-sdk-interstitial-5.8.0/jars/
/build/intermediates/exploded-aar/mopub-sdk-rewardedvideo-5.8.0/jars/
/build/intermediates/exploded-aar/open_ad_sdk/jars/
/build/intermediates/exploded-aar/play-services-ads-17.2.0/jars/
/build/intermediates/exploded-aar/play-services-ads-base-17.2.0/jars/
/build/intermediates/exploded-aar/play-services-ads-identifier-16.0.0/jars/
/build/intermediates/exploded-aar/play-services-ads-lite-17.2.0/jars/
/build/intermediates/exploded-aar/play-services-basement-16.0.1/jars/
/build/intermediates/exploded-aar/play-services-gass-17.2.0/jars/
/build/intermediates/exploded-aar/play-services-measurement-base-16.3.0/jars/
/build/intermediates/exploded-aar/play-services-measurement-sdk-api-16.3.0/jars/
/build/intermediates/javac/debug/classes/